@charset "utf-8";
/*常用变量*/
/*功能函数*/
/*region 整体布局类*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}
body {
  background: #fff;
  color: #333;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
time,
mark,
audio,
video,
input,
textarea,
tr,
th,
td {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 100%;
  line-height: 1.5;
  font-family: "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Roboto, Arial, sans-serif;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/*endregion*/
/*region 图标类 glyphicon*/
@font-face {
  font-family: 'GlyphiconsHalflings';
  src: url('../fonts/glyphicons-halflings-regular.eot?t=15715716061');
  src: url('../fonts/glyphicons-halflings-regular.eot?t=15715716061#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff?t=15715716061') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf?t=15715716061') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg?t=15715716061#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'GlyphiconsHalflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
/*endregion*/
/*region 辅助类样式 f*/
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-ib {
  display: inline-block;
  vertical-align: middle;
}
.f-horizon {
  height: 2px;
  background: #377892;
}
.fc-muted {
  color: #777!important;
}
.fc-primary {
  color: #337ab7!important;
}
.fc-success {
  color: #3c763d!important;
}
.fc-info {
  color: #31708f!important;
}
.fc-warning {
  color: #8a6d3b!important;
}
.fc-danger {
  color: #a94442!important;
}
.bg-primary {
  color: #fff!important;
  background: #337ab7!important;
}
.bg-success {
  background: #dff0d8!important;
}
.bg-info {
  background: #d9edf7!important;
}
.bg-warning {
  background: #fcf8e3!important;
}
.bg-danger {
  background: #f2dede!important;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.show {
  display: block!important;
}
.hide {
  display: none!important;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
mark {
  padding: .2em;
  color: #000;
  background-color: #fcf8e3;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
/*endregion*/
/*region 排版布局样式 g*/
.wrap.open .g-left {
  left: -200px;
}
.wrap.open .g-main {
  left: 0;
}
.wrap.open .g-bottom {
  left: 0;
}
.g-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #438eb9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.g-top .m-logo {
  display: block;
  height: 50px;
  margin: 5px 10px;
}
.g-top .m-logo img {
  display: block;
}
.g-top .u-adjust {
  margin: 13px 5px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.g-top .m-nav {
  margin-top: 15px;
}
.g-top .m-nav ul {
  font-size: 0;
}
.g-top .m-nav ul li {
  margin: 0 3px;
}
.g-top .m-nav .item {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  font-size: 1rem;
  color: #edf9ff;
  cursor: pointer;
}
.g-top .m-nav .item:hover {
  color: #fff;
}
.g-top .m-nav .item.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.g-top .m-user {
  position: relative;
  margin: 0 20px;
  margin-top: 10px;
  cursor: pointer;
}
.g-top .m-user .name {
  display: block;
  color: #edf9ff;
}
.g-top .m-user .name .text {
  margin-right: 5px;
  line-height: 40px;
  font-size: 1rem;
}
.g-top .m-user .name:hover {
  color: #fff;
}
.g-top .m-user:hover .menu-box {
  visibility: visible;
}
.g-top .m-user .menu-box {
  position: absolute;
  display: block;
  visibility: hidden;
  top: 100%;
  left: 0;
  right: 0;
  padding: 4px 0;
  color: #888;
  background: #fff;
  border: solid 1px #eee;
  border-radius: 3px;
  z-index: 1;
}
.g-top .m-user .menu-box .item {
  display: block;
  padding: 0 6px;
  font-size: 0.9325rem;
  line-height: 2;
  transition: background 0.5s;
}
.g-top .m-user .menu-box .item.text {
  padding-bottom: 2px;
  margin-bottom: 2px;
  font-size: 0.875rem;
  color: #888;
  text-align: center;
  border-bottom: solid 1px #e6e6e6;
}
.g-top .m-user .menu-box .item.text:hover {
  color: inherit;
  background: transparent;
}
.g-top .m-user .menu-box .item:hover {
  color: #438eb9;
  background: #eee;
}
.g-left {
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 200px;
  border-right: solid 1px #eee;
  overflow: hidden;
}
.g-left .m-left-nav {
  display: block;
  margin-right: -20px;
  height: 100%;
  overflow-y: auto;
  background: #f2f2f2;
}
.g-left .m-left-nav .sub-nav {
  background: #fff;
  display: none;
}
.g-left .m-left-nav .item {
  display: block;
}
.g-left .m-left-nav .item a {
  display: block;
  font-size: 0.9375rem;
  padding: 0 10px;
  line-height: 2.7;
  color: #555;
  background: #f8f8f8;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
.g-left .m-left-nav .item a .glyphicon {
  margin-right: 6px;
}
.g-left .m-left-nav .item:hover > a {
  color: #438eb9;
}
.g-left .m-left-nav .item.active > a {
  color: #438eb9;
  background: #f8f8f8;
}
.g-left .m-left-nav .item.active .sub-nav {
  max-height: 999px;
}
.g-left .m-left-nav .sub-item a {
  position: relative;
  padding: 0 10px;
  padding-left: 30px;
  line-height: 2.3;
  border-bottom: dotted 1px #e4e4e4;
  cursor: pointer;
}
.g-left .m-left-nav .sub-item a:before {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  top: 50%;
  width: 8px;
  border-top: dashed 1px #999;
}
.g-left .m-left-nav .sub-item a:after {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  top: 2px;
  bottom: 2px;
  width: 1px;
  border-left: dashed 1px #999;
}
.g-left .m-left-nav .sub-item.active a {
  color: #438eb9;
  background: #F5F7FA;
}
.g-left .m-left-nav .sub-item:hover a {
  color: #438eb9;
  background: #F1F5F9;
}
.g-main {
  position: absolute;
  top: 60px;
  left: 200px;
  right: 0;
  bottom: 30px;
  padding: 10px;
}
.g-bottom {
  position: absolute;
  left: 200px;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  color: #888;
}
/*endregion*/
/*region 按钮样式 u-btn*/
.u-btn,
input[type="button"] {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 7px;
  margin: 2px 3px;
  line-height: 18px;
  font-size: 12px;
  text-indent: 3px;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.u-btn:active,
input[type="button"]:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-image: none;
  background-color: #3071a9;
  border-color: #2d6ca2;
}
.u-btn:focus,
input[type="button"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-btn:disabled,
input[type="button"]:disabled {
  background: #909090 !important;
  color: #fff !important;
  cursor: not-allowed !important;
  border-color: #eee!important;
}
.u-btn .badge,
input[type="button"] .badge {
  color: #337ab7;
  background-color: #fff;
}
/*endregion*/
/*region 表单样式 u-ipt*/
.u-ipt,
input[type="text"],
select {
  display: inline-block;
  box-sizing: border-box;
  width: 180px;
  padding-left: 4px;
  height: 24px;
  line-height: 24px;
  border: solid 1px #ccc;
}
/*endregion*/
/*region 表格样式 m-tb*/
.m-tb {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.m-tb td {
  padding: 0 4px;
  height: 32px;
  line-height: 32px;
  font-size: 0.9325rem;
  cursor: default;
}
.m-tb .tb-title td {
  padding: 2px 15px;
  height: 28px;
  line-height: 28px;
  color: #333;
  font-weight: bold;
  font-size: 0.9325rem;
  text-indent: 3px;
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8);
  background-image: -o-linear-gradient(top, #f5f5f5, #e8e8e8);
  background-image: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.m-tb .tb-title td a {
  color: #377892;
}
.m-tb .tb-field-head {
  line-height: 30px;
  color: #000;
  font-size: 0.9325rem;
  text-align: right;
  text-indent: 3px;
  border-bottom: solid 1px #eee;
}
.m-tb .tb-field-content {
  height: 36px;
  line-height: 36px;
  font-size: 0.9325rem;
  text-decoration: none;
  border-bottom: solid 1px #eee;
}
.m-tb .tb-head {
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom: 1px solid #f4f4f4;
}
.m-tb .tb-head td {
  font-size: 0.9325rem;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.m-tb .tb-content {
  height: 32px;
  line-height: 32px;
  font-size: 0.9325rem;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
  text-decoration: none;
}
.m-tb .tb-content td {
  color: #377892;
}
.m-tb .tb-content td a {
  color: #377892;
}
.m-tb .tb-content:hover {
  color: #fff;
  background: #469fc3;
}
.m-tb .tb-content:hover td {
  color: #fff;
}
.m-tb .tb-content:hover td a {
  color: #fff;
}
.m-tb .tb-content:hover td a:hover {
  text-decoration: underline;
}
.m-tb .tb-content.odd {
  background: #f5f5f5;
}
.m-tb .tb-content.odd:hover {
  color: #fff;
  background: #469fc3;
}
.m-tb .tb-content.odd:hover td {
  color: #fff;
}
.m-tb .tb-content.odd:hover td a {
  color: #fff;
}
.m-tb .tb-content.odd:hover td a:hover {
  text-decoration: underline;
}
.m-tb .tb-bottom {
  background: #fff;
  COLOR: #000;
  text-align: right;
  cursor: default;
  text-decoration: none;
  text-indent: 3px;
}
.m-tb .tb-bottom td {
  padding: 3px;
}
.m-tb .tb-bottom .page-num {
  display: inline-block;
  padding: 0 3px;
  width: 38px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
}
.m-tb.search {
  margin-bottom: 20px;
}
.m-tb.search .tb-bottom {
  text-align: center;
}
.m-tb.result .tb-content:nth-child(2n-1) {
  background: #f5f5f5;
}
.m-tb.result .tb-content:nth-child(2n-1):hover {
  color: #fff;
  background: #469fc3;
}
.m-tb.result .tb-content:nth-child(2n-1):hover td {
  color: #fff;
}
.m-tb.result .tb-content:nth-child(2n-1):hover td a {
  color: #fff;
}
.m-tb.result .tb-content:nth-child(2n-1):hover td a:hover {
  text-decoration: underline;
}
/*endregion*/
/*region tab切换 m-tab*/
.m-tab .tab-head {
  margin-top: 4px;
  padding: 0 14px;
  border-bottom: solid 2px #2991d9;
}
.m-tab .tab-head .item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  margin: 0 9px;
  font-size: 0.9375rem;
  min-width: 60px;
  height: 29px;
  line-height: 34px;
  background-image: url("icon/navTab.png");
  background-position: 0 -32px;
  cursor: pointer;
}
.m-tab .tab-head .item:before {
  position: absolute;
  content: "";
  display: block;
  left: -18px;
  top: 0;
  width: 18px;
  height: 29px;
  background-image: url("icon/navTab.png");
  background-position: 0 0;
}
.m-tab .tab-head .item:after {
  position: absolute;
  content: "";
  display: block;
  right: -18px;
  top: 0;
  width: 18px;
  height: 29px;
  background-image: url("icon/navTab.png");
  background-position: 0 -66px;
}
.m-tab .tab-head .item.active {
  color: #fff;
  background-position: 0 -135px;
}
.m-tab .tab-head .item.active:before {
  background-position: 0 -102px;
}
.m-tab .tab-head .item.active:after {
  z-index: 3;
  background-position: 0 -169px;
}
.m-tab .tab-body {
  padding-top: 4px;
}
/*endregion*/
