/*css config*/
@borderColor : #ddd;
/*css reset*/
html,body {
  padding: 0;
  margin: 0;
}
.ttt {
  color: #fff;
  padding: 0;
  margin: 0;
  display: inline;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border: solid 1px @borderColor;
}
.th,th {
  padding: 0 3px;
  border-right: solid 1px @borderColor;
  border-bottom: solid 1px @borderColor;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
td {
  padding: 0 3px;
  border-bottom: solid 1px #f3f3f3;
  font-size: 14px;
  line-height: 28px;
}
/*css common*/
.tHeadBg(){
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top, #efefef 0%, #e0e0e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #efefef 0%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #efefef 0%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.tBoxShdowTop(){
  -webkit-box-shadow: inset 0px 3px 8px 0px rgba(82,82,82,0.15);
  -moz-box-shadow: inset 0px 3px 8px 0px rgba(82,82,82,0.15);
  box-shadow: inset 0px 3px 8px 0px rgba(82,82,82,0.15);
}

.tBoxShdowBot(){
  -webkit-box-shadow: inset 0px -3px 8px 0px rgba(82,82,82,0.15);
  -moz-box-shadow: inset 0px -3px 8px 0px rgba(82,82,82,0.15);
  box-shadow: inset 0px -3px 8px 0px rgba(82,82,82,0.15);
}

.transitionDefault(){
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.hideImp {
  display: none!important;
}

.tb-box {
  overflow-y: scroll;
  margin-right: -17px;
}
.tb-body-wrap {
  overflow: hidden;
}
.tb-head-box {
  margin-bottom: -17px;
  margin-right: -17px;
  overflow-x: scroll;
  .expand-table {
    .icon-expand-all {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 14px;
      background: url("icon/icon_all_expand.png") no-repeat center;
      cursor: pointer;
    }
    .open .icon-expand-all{
      background: url("icon/icon_all_pack.png") no-repeat center;
    }
  }
}
.tb-body-box {
  position: relative;
  margin-right: -17px;
  .expand-table {
    border-top: none;
  }
}

.expand-table {
  width: 100%;

  thead {
    .th,th {
      background: #f5f5f5;
    }
  }

  tbody {
    td {
      text-align: right;
      padding-right: 3px;
    }
    tr:hover {
      background: #4a9be0;
      td{
        color: #fff;
      }
    }
  }

  &.left {
    tbody {
      td {
        text-align: left;
      }
    }
  }

  &.center {
    tbody {
      td {
        text-align: center;
      }
    }
  }
  tbody{
    td.td-name {
      padding-left: 5px;
      text-align: left;
    }
  }



  .icon-expand {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 14px;
    background: url("icon/icon_expand.png") no-repeat center;
    cursor: pointer;
  }

  .supper.open,.sub.open {
    .icon-expand {
      background: url("icon/icon_pack.png") no-repeat center;
    }
  }

  .supper {
    background: #fff;
    .td-name {
      padding-left: 15px;
    }
  }

  .sub,.min {
      display: table-row;
    &.hide {
      display: none;
    }
  }

  .sub {
    background: #cfe7f7;
    .td-name {
      padding-left: 25px;
    }
    td {
      font-size: 13px;
      &:nth-child(3){
        padding-left: 10px;
      }
    }
  }

  .min {
    background: #def3ff;
    .td-name {
      padding-left: 55px;
    }
    td {
      font-size: 12px;
      &:nth-child(3){
        padding-left: 20px;
      }
    }
  }
}

//按钮
.export-btn {
  position: relative;
  left: -20px;
  margin-right: 10px;
  padding: 4px 8px;
  line-height: 23px;
  height: 23px;
  font-size: 13px;
  color: #fff;
  font-weight: 200;
  text-shadow: -1px -1px 3px #383838;
  background: #1c7adc;
  border-radius: 3px;
  cursor: pointer;
}
.export-btn:hover {
  background: #3287e0;
  box-shadow: 0 1px 3px 0px #999, 0px 0px 3px 1px #d8d8d8;
}
