.loading-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fafafa;
  z-index: 10;
}
.loading-wrap .loading-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #dadcdb;
  box-shadow: 0 0 10px #bdbdbd;
}


@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner div {
  left: 94px;
  top: 45px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1.4s infinite;
  animation: lds-spinner linear 1.4s infinite;
  background: #15b7c0;
  width: 12px;
  height: 30px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 55px;
  transform-origin: 6px 55px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.283333333333333s;
  animation-delay: -1.283333333333333s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1.166666666666667s;
  animation-delay: -1.166666666666667s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -1.05s;
  animation-delay: -1.05s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.933333333333333s;
  animation-delay: -0.933333333333333s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.816666666666667s;
  animation-delay: -0.816666666666667s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.466666666666667s;
  animation-delay: -0.466666666666667s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.233333333333333s;
  animation-delay: -0.233333333333333s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.116666666666667s;
  animation-delay: -0.116666666666667s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  -ms-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}